.checkboxes {
  padding-bottom: 20px;

  c-form-check {
    padding-top: 8px;

    label {
      margin-bottom: 0;
    }
  }
}

.res-container {
  width: 100%;

  .res-text {
    color: #f44336;
    margin-bottom: 0;
  }
}
