form {
  margin-top: 1px;

  @media only screen and (max-width: 768px) {
    margin-bottom: 16px;
  }

  h1 {
    margin-bottom: 8px;

    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }

  button {
    margin-top: 8px;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .res-container {
    width: 100%;

    .res-text {
      color: #f44336;
      margin-bottom: 0;
    }
  }
}
