<c-row [gutter]="4" class="mb-3" [xl]="4" [lg]="3" [md]="2" [sm]="1">
    <c-col *ngFor="let admin of admins">
        <c-card class="h-100">
            <c-card-body>
                <h2 cCardTitle>{{admin.name}}</h2>
                <p cCardText>
                    Email: {{admin.email}}
                </p>
                <p cCardText>
                    Username: {{admin.username}}
                </p>
                <p cCardText>
                    Mobile: {{admin.phoneNo}}
                </p>
                <p cCardText>
                    Role: {{admin.role}}
                </p>
                <p cCardText>
                    Has Access: {{admin.hasAccess}}
                </p>
                <mat-card-actions>
                    <button cButton color="success" class="update" (click)="openEditDialog(admin)">
                        Update
                    </button>
                    <button cButton color="danger" class="delete" (click)="confirmBox(admin._id)">
                        Delete
                    </button>
                </mat-card-actions>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>