<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col md="5">
                <c-card-group>
                    <c-card class="p-4">
                        <c-card-body>
                            <form [formGroup]="adminForgotPasswordForm" (ngSubmit)="forgotPasswordAdmin()">
                                <h1>Forgot Password</h1>
                                <p class="text-medium-emphasis">Change your password</p>

                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilUser"></svg>
                                    </span>
                                    <input formControlName="username" cFormControl type="text" placeholder="Username" />
                                </c-input-group>
                                <div
                                    *ngIf="adminForgotPasswordForm.controls['username']?.dirty || adminForgotPasswordForm.controls['username']?.touched && adminForgotPasswordForm.controls['username'].invalid">
                                    <mat-error
                                        *ngIf="adminForgotPasswordForm.controls['username']?.hasError('required')">Username
                                        is
                                        required</mat-error>
                                </div>

                                <c-input-group class="mb-4">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
                                    <input formControlName="password" cFormControl type="password"
                                        placeholder="New Password" />
                                </c-input-group>
                                <div
                                    *ngIf="adminForgotPasswordForm.controls['password']?.dirty || adminForgotPasswordForm.controls['password']?.touched && adminForgotPasswordForm.controls['password'].invalid">
                                    <mat-error
                                        *ngIf="adminForgotPasswordForm.controls['password']?.hasError('required')">Password
                                        is
                                        required</mat-error>
                                    <mat-error
                                        *ngIf="(adminForgotPasswordForm.controls['password']?.hasError('minlength') || adminForgotPasswordForm.controls['password']?.hasError('maxlength'))">
                                        Please enter a secure password between 5 to 11 characters
                                    </mat-error>
                                </div>

                                <div class="res-container" *ngIf="errorResponse">
                                    <p class="res-msg">{{errorResponse}}</p>
                                </div>

                                <c-row>
                                    <c-col xs="6">
                                        <button cButton class="px-4" color="primary" type="submit"
                                            [disabled]="adminForgotPasswordForm.invalid">
                                            Change Password
                                        </button>
                                    </c-col>
                                </c-row>

                            </form>
                        </c-card-body>
                    </c-card>
                </c-card-group>
            </c-col>
        </c-row>
    </c-container>
</div>