<c-row [gutter]="4" class="mb-3" [xl]="4" [lg]="3" [md]="2" [sm]="1">
    <c-col *ngFor="let product of products">
        <c-card class="h-100">
            <div class="product-img">
                <img cCardImg="top" [src]="product?.images[0]">
            </div>
            <c-card-body>
                <p cCardTitle class="product-title">{{product.productName | truncate: 50 }}</p>
                <p cCardText class="product-price">
                    Price: {{product.price | number }}
                </p>
                <p cCardText>
                    Brand: {{product.brand}}
                </p>
                <mat-card-actions>
                    <button cButton color="success" class="update">
                        Update
                    </button>
                    <button cButton color="danger" class="delete">
                        Delete
                    </button>
                </mat-card-actions>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>