.product-img {
  padding: 10px;

  img {
    height: 185px;
  }
}

.product-title {
  color: #39404a;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 18px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin-top: 20px;

  .update {
    color: white;
  }

  .delete {
    color: white;
  }
}
